<mat-slide-toggle>Toggle me!</mat-slide-toggle>


<div class="grid grid-cols-4 h-[300px] m-5 gap-4 text-center">
    <div class="border-2 bg-slate-300 border-black grid grid-rows-2 items-center justify-center">
        <h2>String interpolation</h2>
        {{ data }}
    </div>
    <div class="border-2 bg-slate-300 border-black grid grid-rows-2 items-center justify-center">
        <h2>Property Binding</h2>
        <div class="bg-red-500 w-[80%] text-center"> Some content in inner div</div>
    </div>
    <div class="border-2 bg-slate-300 border-black grid grid-rows-3 items-center justify-center">
        <h2>Event Binding</h2>
        <div>
            <label for="eventBinding">Enter value: </label>
            <input class="p-3" id="eventBinding" type="text" (input)="updateTextValue($event)">
        </div>
        <span>Input Value: {{ inputValue }}</span>
    </div>
    <div class="border-2 bg-slate-300 border-black grid grid-rows-3 items-center justify-center">
        <h2>2 way data binding</h2>
        <div>
            <label for="twoWayBinding">Enter value: </label>
            <input class="p-3" id="twoWayBinding" type="text" [(ngModel)]="inputValue2">
        </div>


        <span> Value Inserted: {{ inputValue2 }}</span>
        
    </div>
</div>
